@import "tailwindcss";
@plugin "flyonui";
@import "flyonui/variants.css";
@source "./node_modules/flyonui/flyonui.js";

:root {
  --background: #aaaaaa;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --font-body: var(--font-ubuntu);
  --font-sans: var(--font-ubuntu);
}

/**/
/* @media (prefers-color-scheme: dark) { */
/*   :root { */
/*     --background: #aaaaaa; */
/*     --foreground: #ededed; */
/*   } */
/* } */

@layer base {

  body {
    @apply font-body;
  }
}

h1 {
  font-size: 2.5rem;
}

h5 {
  font-size: 1.5rem;
}

.glass {
  background-image:
    linear-gradient(
      135deg,
      oklch(100% 0 0 / 30%) 0%,
      transparent 100%
    );
}
